<div class="row">
    <div class="col-md-3" style="background-color: darkslateblue; height: 93vh; padding: 20px;">
        <mat-card class="p-3">
            <app-add-todo (addTask)="addTask($event)" ></app-add-todo>
        </mat-card>
    </div>  
    <div class="col-md-9">
        <div cdkDropListGroup>
            <div class="row">
                <div *ngFor="let taskStatus of tasks | keys;" class="col-md-4">
                    <div class="example-container">
                        <h2>{{ taskStatus | uppercase }} {{ tasks[taskStatus].length > 0 ? ' - ' + tasks[taskStatus].length : ''  }}</h2>
                    </div>
                    <app-todo-item
                      [tasks]="tasks[taskStatus]"
                      [taskStatus]="taskStatus"
                      [drop]="drop"
                      (deleteTask)="deleteTask($event)"
                      [changeTask]="passedChangeTask"
                    ></app-todo-item>
                </div>
            </div>
        </div> 
    </div>
</div>