<div class="row">
    <div class="col-md-3" style="background-color: darkslateblue; height: 93vh; padding: 20px;">
        <mat-card class="p-3">
            <form [formGroup]="todoForm">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Task Name</mat-label>
                    <input formControlName="item" matInput placeholder="Add task name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
                  <button mat-raised-button color="primary" [disabled]="todoForm.invalid" (click)="addTask()">Add</button>  
            </form>
        </mat-card>
    </div>  
    <div class="col-md-9">
        <div cdkDropListGroup>
            <div class="row">
                <div *ngFor="let taskStatus of tasks | keys;" class="col-md-4">
                    <div class="example-container">
                        <h2>{{ taskStatus | uppercase }} {{ tasks[taskStatus].length > 0 ? ' - ' + tasks[taskStatus].length : ''  }}</h2>
                    </div>
                    <app-todo-item
                      [tasks]="tasks[taskStatus]"
                      [taskStatus]="taskStatus"
                      [drop]="drop"
                      (deleteTask)="deleteTask($event)"
                      [blurInput]="passedBlurInput"
                    ></app-todo-item>
                    <!-- <div
                    cdkDropList
                    [cdkDropListData]="tasks[taskStatus]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    (cdkDropListEntered)="enter($event)"
                    >
                    <div class="example-box" *ngFor="let item of tasks[taskStatus]; let i = index;" cdkDrag>
                        <input
                          [readonly]="getReadonly(taskStatus)"
                          #editableInputRef
                          [value]="item.description"
                          type="text"
                          (blur)="blurInput(i , taskStatus, editableInputRef.value)"
                        >
                        <div class="box">
                            <button mat-icon-button *ngFor="let btn of allowedButtonsOptions(taskStatus);" [color]="btn.color" (click)="btn.onClick(i, taskStatus)">
                                <mat-icon>{{ btn.matIcon }}</mat-icon>
                            </button>
                        </div>
                    </div>
                  </div> -->
                </div>
            </div>
        </div> 
    </div>
</div>